*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    /* background-color: #eee; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
    flex-direction: column;
}

.form1 form{
    width: 350px;
    height: 137px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #eee;
    border-radius: 3px;
    margin-bottom: 10px;
}

.form1 form input{
    width: 307px;
    height: 33px;
    margin-bottom: 7px;
    border: 1px solid #e5dcf5;
    background-color: #f6f4f8;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
}

.form1 form button{
    width: 307px;
    height: 33px;
    color: rgb(0, 0, 0);
    background-color: #b6b1ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}